
@font-face {
    font-family: "jaapokkisubtract";
    src: url('../fonts/jaapokkisubtract-regular.ttf') format('truetype');
}

@font-face {
    font-family: "rustslabblackshadow";
    src: url('../fonts/rustslabblackshadow.ttf') format('truetype');
}

@font-face {
    font-family: "nexar";
    src: url('../fonts/nexarustscriptl0.ttf') format('truetype');
}

body{
    background : url("../ressources/site/fond.png") no-repeat;
    background-size: contain;
    background-position:  center 100px;
    background-color: #FBC05C;
}

.body_perso
{
    background : url("../ressources/site/fond_perso.png") no-repeat;
    background-size: contain;
    background-position:  center;
    padding-bottom: 50px ;
}

a:hover{
    color: #8BC9D8;
    text-decoration: none;
}

.font_nexar
{
    font-family: nexar;
}
.font_jaap
{
font-family : jaapokkisubtract;
}

.font_rustsla
{
    font-family: rustslabblackshadow;
}

.orange {
    color: #E25B5A;
}

.modal-content
{
    background: #FEDC85;
}

/*
#perso_choisi
{
    display: none;
}
*/
figure{
	float:left;
}
figure img{
	height: 100%;
	width: auto;
    cursor: pointer;
}

#logo_big_indice
{
    padding-top: 50px;
}

.header
{
    padding-top: 20px;
    color: #fff;
}

.title
{
    font-size: 52px;
}

.img_perso
{
    display: inline-block;
}



.perso_choisi
{
    width: 100%;
}

#btn_valid
{
    background: #A9D4CE;
    box-shadow: 5px 5px 0px #B3AB96;
    color: #fff;
    padding: 7px 30px 7px 30px;
    position: absolute;
    top: 235px;
    left: 46px;
    transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    display: none;
}

#btn_valid:hover
{
    color: #E25B5A;
}

#vs
{
    top: 98px;
    left: 221px;
    z-index: 1;
}

#text_vs {
    font-family: rustslabblackshadow;
    z-index: 3;
    padding-bottom: 15px;
    padding-left: 10px;
    position: absolute;
    padding-right: 10px;
    margin: 0;
    line-height: 0.7;
    color: #E25B5A;
    font-size: 84px;
    top: 50px;
    left: -34px;
}

.line_diagonal {
    width: 185px;
    top: -93px;
    left: -2px;
    color: #E25B5A;
    border: 2px solid;
    border-color: #E25B5A;
    background: #E25B5A;
    transform: rotate(45deg);
    -o-transform: rotate(-73deg);
    -moz-transform: rotate(-73deg);
    -webkit-transform: rotate(-73deg);
    position: absolute;
}
.line_diagonal2 {
    width: 185px;
    top: 205px;
    left: -93px;
    color: #E25B5A;
    border: 2px solid;
    border-color: #E25B5A;
    background: #E25B5A;
    transform: rotate(45deg);
    -o-transform: rotate(-73deg);
    -moz-transform: rotate(-73deg);
    -webkit-transform: rotate(-73deg);
    position: absolute;
}



.testmap01{
    width: 100px;
    height: 100px;
    background: red;
    margin: 10px;
}
.testmap01:hover{
    background: green;
}
#france:hover{
    background: red;
}
.characterchoice figure{
    margin: 0px 25px;
}
.characterchoice figure:nth-child(0n+4),
.characterchoice figure:nth-child(0n+9),
.characterchoice figure:nth-child(0n+14),
.characterchoice figure:nth-child(0n+19){
    margin-left: 90px;
    border-radius: 0 !important;
}

.characterchoice figure:nth-child(0n+5),
.characterchoice figure:nth-child(0n+10),
.characterchoice figure:nth-child(0n+15){
    margin-right: 50px;
}
/*////input round///*/
div.round{
    margin: 50px;
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px solid #999;
}
div.round input{
    position: absolute;
    top: 55px;
    left: 50px;
    font-size: 30px;
    text-align: center;
    width: 100px;
    border: none;
    background: none;
    outline: none;
}
div.round canvas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}