<div class="row header">
	<div class="col-xs-3 col-sm-2">
		<a href="#/home"><img class="logo_mini" src="ressources/logo_min.png"></a>
	</div>
	<div class="col-xs-9 col-sm-8">
		<h1 class="font_rustsla text-center title">Qui sommes nous ?</h1>
	</div>
</div>
<section class="row">
	<div class="col-xs-12 text-center font_courgette">
		<p class="font_30">L'Indice Big Mac est un projet universitaire réalisé dans le cadre du master Design d'Interface Multimédia et Internet de l'université Paris 13.</p>
		<p class="font_30">Les 4 affamés que nous sommes avons voulus proposer une introduction à ce qu'est l'Indice Big Mac.</p>
	</div>
	<div class="col-xs-12 font_courgette">
		<figure class="col-xs-12 col-sm-3 text-center">
			<img class="img-responsive" src="ressources/about/lucas.png" alt="lucas">
			<h4 class="name_about">Lucas</h4>
			<h5>Graphiste / Intégrateur</h5>
		</figure>
		<figure class="col-xs-12 col-sm-3 text-center">
			<img class="img-responsive" src="ressources/about/hymen.png" alt="hymen">
			<h4 class="name_about">Hymen</h4>
			<h5>Graphiste</h5>
		</figure>
		<figure class="col-xs-12 col-sm-3 text-center">
			<img class="img-responsive" src="ressources/about/nils.png" alt="nils">
			<h4 class="name_about">Nils</h4>
			<h5>Graphiste</h5>
		</figure>
		<figure class="col-xs-12 col-sm-3 text-center">
			<img class="img-responsive" src="ressources/about/mickael.png" alt="mickael">
			<h4 class="name_about">Mickaël</h4>
			<h5>Graphiste / Developpeur</h5>
		</figure>
	</div>
</section>