
<section class="row">
	<div class="col-xs-12">
		<p>L'Indice Big Mac est un projet universitaire réalisé dans le cadre du master Design d'Inter Multimédia et Internet de l'université Paris 13.</p>
		<p>Les 4 affamés que nous sommes avons voulus proposer une introduction à ce qu'est l'Indice Big Mac.</p>
	</div>
	<div class="col-xs-12">
		<figure class="col-xs-3">
			<img src="ressources/about/lucas.png" alt="lucas">
			<h4>Lucas</h4>
			<h5>Graphiste / Intégrateur</h5>
		</figure>
		<figure class="col-xs-3">
			<img src="ressources/about/hymen.png" alt="hymen">
			<h4>Hymen</h4>
			<h5>Graphiste</h5>
		</figure>
		<figure class="col-xs-3">
			<img src="ressources/about/nils.png" alt="nils">
			<h4>Nils</h4>
			<h5>Graphiste</h5>
		</figure>
		<figure class="col-xs-3">
			<img src="ressources/about/mickael.png" alt="mickael">
			<h4>Mickaël</h4>
			<h5>Graphiste / Developpeur</h5>
		</figure>
	</div>
</section>