<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>Ici le mini jeu avec la carte</p>
        </div>
    </div>
</div>

{{model.dataurl}}

<div class="modal fade" id="start">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>{{name}}</h2>
                        <p class="orange">Trouvez le maximum de pays où il y a mcdonald</p>
                        <img src="{{persochoix}}" />
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive" src="ressources/carte.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a href="#" class="text-center orange font_jaap" data-dismiss="modal"><h2>START</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /*
window.onload
    {
        $('#start').modal('show')
    }
*/
</script>
