<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>Ici le mini jeu avec la carte</p>
        </div>
    </div>
</div>



<div class="modal fade" id="start">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="col-xs-6">
                    <p class="orange">Trouvez le maximum de pays où il y a mcdonald</p>
                </div>
                <div class="col-xs-6">
                    <img class="img-responsive" src="ressources/carte.png"/>
                </div>
            </div>
            <div class="modal-footer">
                <a class="text-center" data-dismiss="modal">Start</a>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload
    {
        $('#start').modal('show')
    }
</script>
