<div class="row">
    <div class="col-xs-3">
        <a href="#/home"><img class="logo_mini" src="ressources/logo_min.png"></a>
    </div>
</div>
<p>La page pour choisir son personnage</p>

<div class="row">
    <div class="col-xs-6"  >
<!--
        <table>
            <tr>
                <td><input id="1" class="perso" type="image"  src="ressources/caractere/test.png" value="1"></td>
                <td><input id="1" class="perso" type="image"  src="ressources/caractere/test.png" value="2"></td>
                <td><input id="1" class="perso" type="image"  src="ressources/caractere/test.png" value="3"></td>
                <td><input id="1" class="perso" type="image"  src="ressources/caractere/test.png" value="4"></td>
                <td><input id="1" class="perso" type="image"  src="ressources/caractere/test.png" value="5"></td>
                <td><input id="1" class="perso" type="image"  src="ressources/caractere/test.png" value="6"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        
-->		<figure ng-repeat="country in countries" ng-mouseover="characterDisplayOver(country.url_img)" ng-click="characterDisplayClick(country.url_img, country.country)">
			<img  src="{{country.thumb}}" />
		</figure>
		
    </div>
    <div class="col-xs-6">
        <div id="perso_choisi">
	       <img src="{{persochoix}}" /></div>
        <h3>{{persochoixname}}</h3>
        <div class="vs">vs</div>
        <div id="perso_choisi">
	       <img src="{{persochoix2}}" /></div>
        <h3>{{persochoixname2}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center"><a class="font_jaap orange" href="#/carte/{{persochoixname}}/{{persochoixname2}}">Valider</a></h1>
    </div>
</div>


<!--
<script>
    $(".perso").click(function() {
        var perso_choisi = this.value
            $.getJSON('data.json', function (data) {
                $.each(data, function (i) {
                    if (data[i].id == perso_choisi) {

                        $("#perso_choisi").innerHTML = '<img class="grand_perso" src="'+data.url_img+'" >';
                        $("#perso_choisi").fadeIn();
                    }
                })
            });
    });//fin get Json
</script>
-->