<div class="container body_perso pagecompare">
    
    <!-- Diplay homecompare -->
    <div class="row" id="homecompare">
        <div class="col-xs-12 font_nexar">
            <h1>Quelles sont les différences entre les Big Mac de {{prenomperso1}} et de {{prenomperso2}} ?</h1>
        </div>
        <a href="" ng-click="goPage1()">
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>start</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
                
            </div>
        </a>
        
    </div>
     <div class="row" id="page1compare">
        <div class="col-xs-12 font_nexar">
            <h1>big maaac</h1>
        </div>
        <a href="" ng-click="goPage2()">
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>La couleur</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
                
            </div>
        </a>
    </div>
    <div class="row" id="page2compare">
        <div class="col-xs-12 font_nexar">
            <h1>couleuuuuuuuuur</h1>
        </div>
        <a href="" ng-click="goPage3()">
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>les calories</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
                
            </div>
        </a>
    </div>
    <div class="row" id="page3compare">
        <div class="col-xs-12 font_nexar">
            <h1>caloriiiiiiiies</h1>
        </div>
        <a href="" ng-click="goPage4()">
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>Le sel</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
                
            </div>
        </a>
    </div>
    <div class="row" id="page4compare">
        <div class="col-xs-12 font_nexar">
            <h1>seeeeeeeeeeeeel</h1>
        </div>
        <a href="" ng-click="goPage5()">
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>La viande</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
                
            </div>
        </a>
    </div>

    <div class="row" id="page5compare">
        <div class="col-xs-12 font_nexar">
            <h1>viaaaaaaaaaande</h1>
        </div>
        <a href="" ng-click="goPage6()">
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>Le prix</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
                
            </div>
        </a>
    </div>

    <div class="row" id="page6compare">
        <div class="col-xs-12 font_nexar">
            <h1>friiiiiiic</h1>
        </div>
        <a href="" ng-click="goPage7()">
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>pour résumer</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
                
            </div>
        </a>
    </div>

    <div class="row" id="page7compare">
        <div class="col-xs-12 font_nexar">
            <h1>Resummmé </h1>
        </div>
        <a href="" ng-click="goPage2()">
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>recommmencer</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
                
            </div>
        </a>
    </div>



    <!-- display character chosen -->
    <div class="row">
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-12">
                    <!--ton svg -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p ><img class="img_perso_compare" src="{{thumbperso1}}" alt="">{{prenomperso1}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            bouton

        </div>
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-12">
                    <!--ton svg -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p ><img class="img_perso_compare" src="{{thumbperso2}}" alt="">{{prenomperso2}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END display character chosen -->
    
    </div>
</div>
<!-- END container -->



<div class="modal fade" id="start">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="orange font_rustsla">{{prenomselection}}</h2>
                        <p class="">Mets une heure et tu verras quelle pays produit le plus de big dans ce temps imparti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img class="img-responsive center-block"  src="{{countryselection }}" />
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive" src="ressources/carte.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2> <a href="#" class="text-center orange font_jaap" data-dismiss="modal">START</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid">
     <section class="backgroundcompare">
        <div class="col-xs-6"></div>
        <div class="col-xs-6"></div>
    </section>
</div>

<script>

    // window.onload
    // {
    //     $('#start').modal('show')
    // }

</script>