<div class="row header">
    <div class="col-xs-3">
        <a href="#/home"><img class="logo_mini" src="ressources/logo_min.png"></a>
    </div>
</div>

<div class="pagecompare">
    
    <section class="row">

        <div class="col-xs-4" id="page6compare">
            <img class="img-responsive" src="{{fullperso1}}" alt="">
            <p class="namepersocompare">{{prenomperso1}}</p>
            
        </div>

        <div class="col-xs-4 timeline" >
             <ng-include src="'ressources/compare/interface/btn-timeline.svg'"></ng-include>
        </div>

        <div class="col-xs-4" id="page6compare2">
            <img class="img-responsive" src="{{fullperso2}}" alt="">
            <p class="namepersocompare">{{prenomperso2}}</p>
            
        </div>

    </section>
    
    <section class="row namepersocompare">
        <a class="col-xs-offset-4 col-xs-4 btn_recommencer font_rustsla" href="#/" style="display: inline;">Recommencer</a>

    </section>
    <div class="bg"></div>
</div>
