<div class="row header">
    <div class="col-xs-3">
        <a href="#/home"><img class="logo_mini" src="ressources/logo_min.png"></a>
    </div>
</div>

<div class="pagecompare">
    
    <section class="row">

        <div class="col-xs-4" id="page6compare">
            <img class="img-responsive" src="{{fullperso1}}" alt="">
            <p class="namepersocompare">{{prenomperso1}}</p>
            <a href="#/comparatif/resume/{{countryA}}/{{countryB}}">
                <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                    <p>Résumé</p>
                    <img src="ressources/compare/interface/arrow.png" alt="">
                    
                </div>
            </a>     
        </div>

        <div class="col-xs-4 timeline" >
             <ng-include src="'ressources/compare/interface/btn-timeline.svg'"></ng-include>
        </div>

        <div class="col-xs-4" id="page6compare2">
            <img class="img-responsive" src="{{fullperso2}}" alt="">
            <p class="namepersocompare">{{prenomperso2}}</p>
            <a href="#/comparatif/resume/{{countryA}}/{{countryB}}">
                <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                    <p>Résumé</p>
                    <img src="ressources/compare/interface/arrow.png" alt="">      
                </div>
            </a>
        </div>

    </section>
    
    <section class="row namepersocompare">

        <div class="col-xs-5"> 
           
           
        </div>

        <div class="col-xs-5 col-xs-offset-2"> 
           
            
        </div>

    </section>

</div>
