<div class="row header">
    <div class="col-xs-3">
        <a href="#/home"><img class="logo_mini" src="ressources/logo_min.png"></a>
    </div>
</div>

<div class="pagecompare">
    
    <section class="row">

        <div class="col-xs-4" id="page1compare">
             <ng-include class="bigmac" src="'ressources/compare/bigmac-close.svg'"></ng-include>
             <a href="#/comparatif/couleur/{{countryA}}/{{countryB}}">
                <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                    <p>La couleur</p>
                    <img src="ressources/compare/interface/arrow.png" alt="">
                    
                </div>
            </a>     
        </div>

        <div class="col-xs-4 timeline" >
            <ng-include src="'ressources/compare/interface/btn-timeline.svg'"></ng-include>
        </div>

        <div class="col-xs-4" id="page1compare2">
            <ng-include class="bigmac" src="'ressources/compare/bigmac-close.svg'"></ng-include>
            <a href="#/comparatif/couleur/{{countryA}}/{{countryB}}">
                <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                    <p>La couleur</p>
                    <img src="ressources/compare/interface/arrow.png" alt="">
                </div>
            </a>
        </div>

    </section>
    
    <section class="row namepersocompare">

        <div class="col-xs-5"> 
            <img class="img_perso_compare" src="{{thumbperso1}}" alt="">
            <p>{{prenomperso1}}</p>
        </div>

        <div class="col-xs-5 col-xs-offset-2"> 
            <img class="img_perso_compare" src="{{thumbperso2}}" alt="">
            <p>{{prenomperso2}}</p>
        </div>

    </section>

</div>
