

<div class="pagecompare">

    <a href="#/comparatif/sel/{{countryA}}/{{countryB}}">
        <div id="comparestart">
            <p>Le sel</p>
            <img src="ressources/compare/interface/arrow.png" alt="">
        </div>
    </a>  

    <section class="row namepersocompare header">
        <div class="col-xs-2">
              <a href="#/home"><img class="logo_mini" src="ressources/logo_min.png"></a>
        </div>
        <div class="col-xs-5"> 
            <div class="row">
                <img class="img_perso_compare col-xs-2" src="{{thumbperso1}}" alt="">
                <p class="col-xs-5">{{prenomperso1}}</p>
            </div>
        </div>

        <div class="col-xs-5"> 
            <div class="row">
                <img class="img_perso_compare col-xs-2" src="{{thumbperso2}}" alt="">
                <p class="col-xs-5">{{prenomperso2}}</p>
            </div>
        </div>

    </section>
    <section class="row">

        <div class="col-xs-4" id="page3compare">
            <ng-include class="bigmac" src="'ressources/compare/bigmac-open.svg'"></ng-include>        
        </div>

        <div class="col-xs-4 timeline" >
            <ng-include src="'ressources/compare/interface/btn-timeline.svg'"></ng-include>
        </div>

        <div class="col-xs-4" id="page3compare2">
            <ng-include class="bigmac" src="'ressources/compare/bigmac-open2.svg'"></ng-include>
        </div>

    </section>
    
    
    <div class="bg"></div>
</div>
