<div class="pagecompare">
    <section class="row">

         <h1 class="col-xs-12">Quelles sont les différences entre les Big Mac de {{prenomperso1}} et de {{prenomperso2}} ?</h1>

         <a href="#/comparatif/start/{{countryA}}/{{countryB}}" >
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>start</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
            </div>
        </a>

    </section>
</div>

<section class="row namepersocompare">

        <div class="col-xs-5"> 
            <img class="img_perso_compare" src="{{thumbperso1}}" alt="">
            <p>{{prenomperso1}}</p>
        </div>

        <div class="col-xs-5 col-xs-offset-2"> 
            <img class="img_perso_compare" src="{{thumbperso2}}" alt="">
            <p>{{prenomperso2}}</p>
        </div>

</section>

<!-- <div class="modal fade" id="start">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="orange font_rustsla">{{prenomselection}}</h2>
                        <p class="">Mets une heure et tu verras quelle pays produit le plus de big dans ce temps imparti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img class="img-responsive center-block"  src="{{countryselection }}" />
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive" src="ressources/carte.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2> <a href="#" class="text-center orange font_jaap" data-dismiss="modal">START</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    window.onload
    {
        $('#start').modal('show');
    }

</script> -->