<div class="pagecompare">
    <div class="row">
        <div class="col-xs-12 text-center" id="aboutlink">
            <a class="pull-right"  href="#/qui-sommes-nous">Qui sommes nous ?</a>
            <div class="col-xs-2 col-xs-offset-5">
            	<img id="logo_big_indice" class="center-block img-responsive" src="ressources/logo.png"/>
            </div>
        </div>
    </div>

    <section class="row font_courgette font_30 text-center">

		<h1 class="col-xs-12">Voilà!</h1>

		<p>L’Indice Big Mac c’est l’utilisation du Big Mac comme référentiel mondial pour pouvoir compaarer des pays sur le plan social et économique. </p>

		<p>Tu viens de le voir avec {{countryA}} & {{countryB}}. Compare les autres pays restants ! </p>
	</section>
    
    <section class="row namepersocompare">
        <a class="col-xs-offset-4 col-xs-4 btn_recommencer font_rustsla" href="#/choix-personnage" style="display: inline;">choisir d’autres pays</a>

    </section>
    <div class="partage row">
        <div class="col-xs-4">
            <a name="fb_share" type="box_count" share_url="http://m2dimi.github.io/bigmac/#/"></a>
            <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
        </div>
        <div class="col-xs-4">
            <a href="https://twitter.com/share" data-count="vertical" class="twitter-share-button" data-url="http://m2dimi.github.io/bigmac/#/" data-text="Explorez l'Indice Big Mac" data-lang="fr" data-hashtags="dataviz" target="_blank">
                <img src="ressources/social-btn/twitter.png" alt="">
            </a>
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="col-xs-4">
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
                {lang: 'fr'}
            </script>
            <g:plusone size="tall"></g:plusone>
        </div>
    </div>
</div>
