<div class="row header">
    <div class="col-xs-3">
        <a href="#/home"><img class="logo_mini" src="ressources/logo_min.png"></a>
    </div>
</div>

<div class="pagecompare">
    <section class="row">

         <h1 class="col-xs-8 col-xs-offset-2 text-center font_courgette">Quelles sont les différences entre les Big Mac de {{prenomperso1}} et de {{prenomperso2}} ?</h1>

         <a href="#/comparatif/start/{{countryA}}/{{countryB}}" >
            <div class="col-xs-2 col-xs-offset-5" id="comparestart">
                <p>start</p>
                <img src="ressources/compare/interface/arrow.png" alt="">
            </div>
        </a>

    </section>
</div>

<section class="row namepersocompare">

        <div class="col-xs-5 col-xs-offset-2"> 
            <img class="img_perso_compare2 col-xs-offset-2" src="{{thumbperso1}}" alt="">
            <p>{{prenomperso1}}</p>
        </div>

        <div class="col-xs-5 "> 
            <img class="img_perso_compare2 col-xs-offset-2" src="{{thumbperso2}}" alt="">
            <p>{{prenomperso2}}</p>
        </div>
        
</section>
<div class="bg"></div>