
    <div class="row">
        <div class="col-xs-12 text-center">
            <a class="col-xs-offset-10" href="#/about">About</a>
            <img id="logo_big_indice" class="center-block img-responsive" src="ressources/logo.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center font_30 font_courgette">
            <h2>Découvrez ce que cache l'Indice Big Mac</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center"><a class="btn btn-success font_courgette font_30" href="#/choix-personnage">Start</a></h1>
        </div>
    </div>
    
  