<div class="row header">
    <div class="col-xs-3">
        <a href="#/home"><img class="logo_mini" src="ressources/logo_min.png"></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <p>{{prenomselection1}}</p>
            <img class="img-responsive center-block"  src="{{countryselection1}}" />
            <span>{{worktimeselection1}}</span>
            <a href="#/comparatif/{{countryA}}/{{countryB}}">jeu suivant</a>
        </div>
        <div class="col-xs-4">
            <div>
                <input type="text" name="round" class="round" data-min="1" data-max="24" value="10" />
            </div>
        </div>
        <div class="col-xs-4">
            <p>{{prenomselection2}}</p>
            <img class="img-responsive center-block"  src="{{countryselection2}}" />
            <span>{{worktimeselection2 }}</span>
        </div>
    </div>
</div>
<div class="modal fade" id="start">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="orange font_rustsla">{{prenomselection1}}</h2>
                        <p class="">Mets une heure et tu verras quelle pays produit le plus de big dans ce temps imparti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img class="img-responsive center-block"  src="{{countryselection1}}" />
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive" src="ressources/popup/machine.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2> <a href="#" class="text-center orange font_jaap" data-dismiss="modal">START</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload
    {
        $('#start').modal('show')
    }


    (function($){
        $('input.round').wrap('<div class="round" />').each(function(){
            var $input = $(this);
            var $div = $input.parent();
            var min = $input.data('min');
            var max = $input.data('max');
            var ratio = ($input.val() - min) / (max - min);


            var $circle = $('<canvas width="200px" height="200px"/>' );
            var $color = $('<canvas width="200px" height="200px"/>' );
            $div.append($circle);
            $div.append($color);
            var ctx = $circle[0].getContext('2d');

            ctx.beginPath();
            ctx.arc(100,100,85,0,2*Math.PI);
            ctx.lineWidth = 30;
            ctx.strokeStyle = "#FDD784"
            ctx.stroke();

            var ctx = $color[0].getContext('2d');
            ctx.beginPath();
            ctx.arc(100,100,85,-1/2*Math.PI,ratio*2*Math.PI);
            ctx.lineWidth = 30;
            ctx.strokeStyle = "#C22E38"
            ctx.stroke();

            $div.mousedown(function(event){
                event.preventDefault();
                $div.bind('mousemove', function(event){
                    var x = event.pageX - $div.offset().left - $div.width()/2;
                    var y = event.pageY - $div.offset().top - $div.height()/2;
                    var a = Math.atan2(x,-y) / (2*Math.PI);
                    if (a < 0) { a+=1; };
                    ctx.clearRect(0,0,200,200);
                    ctx.beginPath();
                    ctx.arc(100,100,85,-1/2*Math.PI,a*2*Math.PI -1/2*Math.PI);
                    ctx.lineWidth = 30;
                    ctx.strokeStyle = "#C22E38"
                    ctx.stroke();
                    $input.val(Math.round(a * (max - min) + min));
                })
            }).mouseup(function(event){
                event.preventDefault();
                $div.unbind('mousemove');
            })
        })
    })(jQuery)

</script>