<div class="row">
    <div class="col-xs-3">
        <a href="#/home"><img class="logo_mini" src="ressources/logo_min.png"></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>Ici le mini jeu sur le temps de travail</p>
            <p>{{model.dataurl1}} vs {{model.dataurl2}}</p>
            <span>{{countryselection }}"</span>
            <a href="#/compare/{{countryA}}/{{countryB}}">jeu suivant</a>
            <br/>
            <br/>
            <br/>

            <div>
                <input type="text" name="round" class="round" data-min="1" data-max="24" value="10" />
            </div>
            <script>
                (function($){
                    $('input.round').wrap('<div class="round" />').each(function(){
                        var $input = $(this);
                        var $div = $input.parent();
                        var min = $input.data('min');
                        var max = $input.data('max');
                        var ratio = ($input.val() - min) / (max - min);


                        var $circle = $('<canvas width="200px" height="200px"/>' );
                        var $color = $('<canvas width="200px" height="200px"/>' );
                        $div.append($circle);
                        $div.append($color);
                        var ctx = $circle[0].getContext('2d');

                        ctx.beginPath();
                        ctx.arc(100,100,85,0,2*Math.PI);
                        ctx.lineWidth = 20;
                        ctx.strokeStyle = "#FFF"
                        ctx.stroke();

                        var ctx = $color[0].getContext('2d');
                        ctx.beginPath();
                        ctx.arc(100,100,85,-1/2*Math.PI,ratio*2*Math.PI);
                        ctx.lineWidth = 20;
                        ctx.strokeStyle = "#91c2ff"
                        ctx.stroke();

                        $div.mousedown(function(event){
                             event.preventDefault();
                            $div.bind('mousemove', function(event){
                                 var x = event.pageX - $div.offset().left - $div.width()/2;
                                var y = event.pageY - $div.offset().top - $div.height()/2;
                                var a = Math.atan2(x,-y) / (2*Math.PI);
                                if (a < 0) { a+=1; };
                                ctx.clearRect(0,0,200,200);
                                ctx.beginPath();
                                ctx.arc(100,100,85,-1/2*Math.PI,a*2*Math.PI -1/2*Math.PI);
                                ctx.lineWidth = 20;
                                ctx.strokeStyle = "#91c2ff"
                                ctx.stroke();
                                $input.val(Math.round(a * (max - min) + min));
                            })
                        }).mouseup(function(event){
                             event.preventDefault();
                            $div.unbind('mousemove');
                        })
                    })
                })(jQuery)

            </script>

        </div>
    </div>
</div>